<script>
    const PAIS_EDITOR_POOL_DATABASE = {
        blueIcons: [
            {"src":"/z/cv/images/001-target.svg"}, 
            {"src":"/z/cv/images/002-development.svg"}, 
            {"src":"/z/cv/images/003-idea.svg"}, 
            {"src":"/z/cv/images/004-smartphone.svg"}
        ],
        waterMarkIcons: [
            {"src":"/z/cv/images/Clients_1.svg"},
            {"src":"/z/cv/images/Clients_2.svg"},
            {"src":"/z/cv/images/Clients_3.svg"},
            {"src":"/z/cv/images/Clients_4.svg"},
        ],
        coloredSvg: [
            {"src":"/z/cv/images/puzzle.svg"},
            {"src":"/z/cv/images/team.svg"},
            {"src":"/z/cv/images/trophy.svg"},
        ]
    };
</script>
<header>
    <button class="btn btn-white btn-share ml-auto mr-3 ml-md-0 mr-md-auto"><img src="/z/cv/images/share.svg" alt="share" class="btn-img">
        SHARE</button>
    <nav class="collapsible-nav" id="collapsible-nav">
        <a href="index.html" class="nav-link active">HOME</a>
        <a href="resume.html" class="nav-link">RESUME</a>
        <a href="portfolio.html" class="nav-link">PORTFOLIO</a>
        <a href="blog.html" class="nav-link">BLOG</a>
        <a href="contact.html" class="nav-link">CONTACT</a>
    </nav>
    <button class="btn btn-menu-toggle btn-white rounded-circle" data-toggle="collapsible-nav"
        data-target="collapsible-nav"><img src="/z/cv/images/hamburger.svg" alt="hamburger"></button>
</header>
<div class="content-wrapper">
    <aside>
        <div class="profile-img-wrapper">
            <img paistv-editor-image ng-model="$ctrl.domains.content.data.photo" path="'photo'" default="/z/cv/images/me.jpg" crossorigin="anonymous" alt="">
        </div>
        <h1 class="profile-name" paistv-editor-text ng-model="$ctrl.domains.content.data.name" default="Edgar Delgado">Edgar Delgado</h1>
        <div class="text-center">
            <span class="badge badge-white badge-pill profile-designation" paistv-editor-text ng-model="$ctrl.domains.content.data.profile" default="Full Stack Developer">Full Stack Developer</span>
        </div>
        <nav class="social-links">
            <a href="#!" paistv-editor-link ng-model="$ctrl.domains.content.data.url.facebook" class="social-link" ng-if="$ctrl.domains.ifs.social.facebook" message="Social Facebook"><i class="fa fa-facebook"></i></a>
            <a href="#!" paistv-editor-link ng-model="$ctrl.domains.content.data.url.twitter" class="social-link" ng-if="$ctrl.domains.ifs.social.twitter" message="Social Twitter"><i class="fa fa-twitter"></i></a>
            <a href="#!" paistv-editor-link ng-model="$ctrl.domains.content.data.url.behance" class="social-link" ng-if="$ctrl.domains.ifs.social.behance" message="Social Behance"><i class="fa fa-behance"></i></a>
            <a href="#!" paistv-editor-link ng-model="$ctrl.domains.content.data.url.dribbble" class="social-link" ng-if="$ctrl.domains.ifs.social.dribbble" message="Social Dribbble"><i class="fa fa-dribbble"></i></a>
            <a href="#!" paistv-editor-link ng-model="$ctrl.domains.content.data.url.github" class="social-link" ng-if="$ctrl.domains.ifs.social.github" message="Social GitHub"><i class="fa fa-github"></i></a>
        </nav>
        <div class="widget">
            <h5 class="widget-title">personal information</h5>
            <div class="widget-content">
                <p>BIRTHDAY : <span paistv-editor-text ng-model="$ctrl.domains.content.data.birtday" default="15 April 1990">15 April 1990</span></p>
                <p>WEBSITE : <span paistv-editor-text ng-model="$ctrl.domains.content.data.website" default="www.example.com">www.example.com</span></p>
                <p>PHONE : <span paistv-editor-text ng-model="$ctrl.domains.content.data.phone" default="+1 123 000 4444">+1 123 000 4444</span></p>
                <p>MAIL : <span paistv-editor-text ng-model="$ctrl.domains.content.data.mail" default="your@example.com">your@example.com</span></p>
                <p>Location : <span paistv-editor-text ng-model="$ctrl.domains.content.data.location" default="California, USA">California, USA</span></p>
                <a paistv-editor-download-link ng-model="$ctrl.domains.content.data.downloadfile" class="btn btn-download-cv btn-primary rounded-pill" href="#"> <img src="/z/cv/images/download.svg" alt="download"
                    class="btn-img">DOWNLOAD CV </a>
            </div>
        </div>
        <div class="widget card">
            <div class="card-body">
                <div class="widget-content">
                    <h5 class="widget-title card-title">LANGUAGES</h5>
                    <div paistv-editor-repeat="value in $ctrl.domains.content.subDomain.languages | orderItem track by $index" predefined='{"txt": "English : native"}'>
                        <p paistv-editor-text ng-model="value.txt" default="English : native">English : native</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="widget card">
            <div class="card-body">
                <div class="widget-content">
                    <h5 class="widget-title card-title">INTERESTS</h5>
                    <div paistv-editor-repeat="value in $ctrl.domains.content.subDomain.interest | orderItem track by $index" predefined='{"txt": "Theatre"}'>
                        <p paistv-editor-text ng-model="value.txt" default="Theatre">Theatre</p>
                    </div>
                </div>
            </div>
        </div>
    </aside>
    <main>
        <section class="intro-section">
            <h2 class="section-title" paistv-editor-text ng-model="$ctrl.domains.content.texts.greating" default="Hello, Edgar Delgado!">Hello, Edgar Delgado!</h2>
            <div paistv-editor-html ng-model="$ctrl.domains.content.texts.presentation" default="<p>I'm Creative</p>">
                <p>I'm Creative.</p>
            </div>
            <a href="#!" class="btn btn-primary btn-hire-me">HIRE ME</a>
        </section>
        <section class="resume-section">
            <div class="row">
                <div class="col-lg-6">
                    <h6 class="section-subtitle">RESUME</h6>
                    <h2 class="section-title">FORMATION</h2>
                    <ul class="time-line">
                        <li class="time-line-item" paistv-editor-repeat="value in $ctrl.domains.content.subDomain.formation | orderItem track by $index" predefined='{"period": "1998 - 2005", "title": "Master In Computer Science", "institute": "MASTER, UNIVERSITY", "summary": "<p>My value.</p>"}'>
                            <span class="badge badge-primary" paistv-editor-text ng-model="value.period" default="1998 - 2005">1998 - 2005</span>
                            <h6 class="time-line-item-title" paistv-editor-text ng-model="value.title" default="Master In Computer Science">Master In Computer Science</h6>
                            <p class="time-line-item-subtitle" paistv-editor-text ng-model="value.institute" default="MASTER, UNIVERSITY">MASTER, UNIVERSITY</p>
                            <div paistv-editor-html ng-model="value.summary" default="<p>My value.</p>">
                                <p class="time-line-item-content">My value.</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-6">
                    <h6 class="section-subtitle">RESUME</h6>
                    <h2 class="section-title">Work Hard at</h2>
                    <ul class="time-line">
                        <li class="time-line-item" paistv-editor-repeat="value in $ctrl.domains.content.subDomain.labors | orderItem track by $index" predefined='{"period": "2010 - 2014", "title": "UI/UX Designer", "institute": "Web Agency", "summary": "<p>My work.</p>"}'>
                            <span class="badge badge-primary" paistv-editor-text ng-model="value.period" default="2010 - 2014">2010 - 2014</span>
                            <h6 class="time-line-item-title" paistv-editor-text ng-model="value.title" default="UI/UX Designer">UI/UX Designer</h6>
                            <p class="time-line-item-subtitle" paistv-editor-text ng-model="value.institute" default="Web Agency">Web Agency</p>
                            <div paistv-editor-html ng-model="value.summary" default="<p>My work.</p>">
                                <p class="time-line-item-content">My work.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="services-section">
            <h6 class="section-subtitle">WHAT I DO</h6>
            <h2 class="section-title">SOFT SKILLS</h2>
            <div class="row">
                <div class="media service-card col-lg-6" paistv-editor-repeat="value in $ctrl.domains.content.subDomain.skills | orderItem track by $index" predefined='{"title": "web designing", "desc": "<p>My gift</p>"}'>
                    <div class="service-icon">
                        <img paistv-editor-select-image ng-model="value.img" options='PAIS_EDITOR_POOL_DATABASE.blueIcons' crossorigin="anonymous">
                    </div>
                    <div class="media-body">
                        <h5 class="service-title" paistv-editor-text ng-model="value.title" default="web designing">web designing</h5>
                        <div paistv-editor-html ng-model="value.desc" default="<p>My gift</p>">
                            <p class="service-description">My gift</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="clients-section">
            <h6 class="section-subtitle">WHAT I DO</h6>
            <h2 class="section-title">EXPERIENCE WITH</h2>
            <div class="client-logos-wrapper">
                <div class="client-logo" paistv-editor-repeat="value in $ctrl.domains.content.subDomain.tools | orderItem track by $index" predefined='{}'>
                    <img paistv-editor-select-image ng-model="value.img" options='PAIS_EDITOR_POOL_DATABASE.waterMarkIcons' crossorigin="anonymous" class="w-100">
                </div>
            </div>
        </section>
        <section class="achievements-section">
            <h6 class="section-subtitle">WHAT I DO</h6>
            <h2 class="section-title">ACHIEVEMENTS</h2>
            <div class="achievement-cards-wrapper">
                <div class="media achievement-card" paistv-editor-repeat="value in $ctrl.domains.content.subDomain.achieve | orderItem track by $index" predefined='{}'>
                    <img paistv-editor-select-image ng-model="value.img" options='PAIS_EDITOR_POOL_DATABASE.coloredSvg' crossorigin="anonymous" class="achievement-card-icon">
                    <div class="media-body">
                        <h4 class="achievement-card-title" paistv-editor-text ng-model="value.number" default="550+">550+</h4>
                        <p class="achievement-card-description" paistv-editor-text ng-model="value.detail" default="COMPLETED PROJECTS">COMPLETED PROJECTS</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="testimonial-section">
            <div id="testimonialCarousel" class="testimonial-carousel carousel slide paistv-class-editor-button-inherit" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item" ng-class="{'active': $last}" paistv-editor-repeat="value in $ctrl.domains.content.subDomain.testimonial | orderItem track by $index" predefined='{}'>
                        <p class="testimonial-content" paistv-editor-text ng-model="value.said" default="What some one else says">What some one else says</p>
                        <img src="/z/cv/images/Profile.png" alt="profile" class="testimonial-img">
                        <p class="testimonial-name" paistv-editor-text ng-model="value.who" default="Who">Who</p>
                    </div>
                </div>
                <ol class="carousel-indicators">
                    <li data-target="#testimonialCarousel" data-slide-to="{{ $$index }}" ng-class="{'active': $last}" ng-repeat="value in $ctrl.domains.content.subDomain.testimonial | orderItem track by $index"></li>
                </ol>
            </div>
        </section>
        <section class="contact-section">
            <h2 class="section-title">GET IN TOUCH</h2>
            <div paistv-editor-html ng-model="$ctrl.domains.content.texts.contactme" default="<p>Talk with me</p>">
                <p class="mb-4">Talk with me.</p>
            </div>
            
            <div class="contact-cards-wrapper">
                <div class="contact-card">
                    <h6 class="contact-card-title">CALL ME</h6>
                    <p class="contact-card-content" paistv-editor-text ng-model="$ctrl.domains.content.data.phones" default="+987 654 3210 , +987 654 3210">+987 654 3210 , +987 654 3210</p>
                </div>
                <div class="contact-card">
                    <h6 class="contact-card-title">Email Me</h6>
                    <p class="contact-card-content" paistv-editor-text ng-model="$ctrl.domains.content.data.mails" default="hello@liveresume.com">hello@liveresume.com</p>
                </div>
            </div>

            <form action="#!" class="contact-form">
                <div class="form-group form-group-name">
                  <label for="name" class="sr-only">Name</label>
                  <input type="text" name="name" id="name" class="form-control" placeholder="NAME">
                </div>
                <div class="form-group form-group-email">
                    <label for="email" class="sr-only">Email</label>
                    <input type="email" name="email" id="email" class="form-control" placeholder="EMAIL">
                </div>
                <div class="form-group">
                    <label for="message" class="sr-only">Message</label>
                    <textarea name="message" id="message" class="form-control" placeholder="MESSAGE" rows="5"></textarea>
                </div>
                <button type="submit" class="btn btn-primary form-submit-btn">SEND MESSAGE</button>
            </form>

        </section>
        <section class="location-section">
            <h5 class="section-title">MY LOCATION</h5>

            <div class="map-wrapper embed-responsive embed-responsive-16by9"">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6780.360388122327!2d-73.94920877520023!3d40.64704896956227!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25b449a659007%3A0xc4308a4849d49943!2s135%20E%2029th%20St%2C%20Brooklyn%2C%20NY%2011226%2C%20USA!5e0!3m2!1sen!2sin!4v1582520722599!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" class="embed-responsive-item"></iframe>
            </div>
        </section>

        <footer>Thanks to Live Resume @ <a href="https://www.bootstrapdash.com" target="_blank" rel="noopener noreferrer">BootstrapDash</a>. All Rights Reserved 2020</footer>
    </main>
</div>