<button ng-click="$ctrl.save()">Save!</button>
<pre>{{ $ctrl.content | json }}</pre>
<h1 paistv-editor-text ng-model="$ctrl.content.texts.text2.val" default="Un título"></h1>
<p paistv-editor-text ng-model="$ctrl.content.texts.text3.val" default="Un textico"></p>
<div paistv-editor-html ng-model="$ctrl.content.texts.text1.val" default="Otro textico"></div>
<img paistv-editor-image ng-model="$ctrl.content.images.image1" path="'image1'" default="http://proyeccion-colombia1.appspot.com/z/img/spacex.jpg" crossorigin="anonymous">
