<form>
    <div class="form-group">
      <div class="form-group">
        <label class="col-form-label">Link:</label>
        <input type="text" class="form-control" ng-model="link.url">
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" value="_blank" ng-model="link.target">
        <label class="form-check-label">
          Otra ventana
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" value="_self" ng-model="link.target">
        <label class="form-check-label">
          Ventana actual
        </label>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" ng-click="save()">Guardar</button>
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
    </div>
  </form>
    
      