<p>SELECT * FROM `Tupla` WHERE __key__ HAS ANCESTOR KEY(Pagina, 5764529581457408)</p>
<div ng-repeat="(llave, valor) in $ctrl.domains">
    <div ng-repeat="element in valor.list" style="display: inline;">
        <input type="text" ng-model="element.value">
    </div>
    <button ng-click="$ctrl.add(valor.list)">+</button>
    <button ng-click="$ctrl.remove(valor.list)">-</button>
</div>
<button ng-click="$ctrl.save()">Save!</button>
<pre>{{ $ctrl.page | json }}</pre>
<pre>{{ $ctrl.domains | json }}</pre>