<form>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-6">
        <canvas width="120" height="120" class="og_page_image_icon" style="padding: 10px; cursor: pointer;"></canvas>
      </div>
      <div class="col-xs-6">
        <p>Propietario: <b ng-data="$ctrl.page.page.aut"></b></p>
        <p>Fecha creación: <b ng-data="$ctrl.page.page.date"></b></p>
        <p>Fecha actualización: <b ng-data="$ctrl.page.page.date"></b></p>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label class="col-form-label">Título:</label>
    <input type="text" class="form-control" ng-model="$ctrl.page.page.tit">
  </div>
  <div class="form-group">
    <label class="col-form-label">Descripción:</label>
    <textarea class="form-control" ng-model="$ctrl.page.page.desc"></textarea>
  </div>
  <div class="form-group">
    <label class="col-form-label">Palabras clave:</label>
    <input type="text" class="form-control" ng-model="$ctrl.page.page.kw">
  </div>
  <div class="form-group">
    <label class="col-form-label">Permisos públicos:</label>
    <input type="text" class="form-control" ng-model="$ctrl.page.page.pr">
  </div>
</form>

  