<form>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-6">
        <img ng-src="$ctrl.page.page.img" src="/z/img/noimage.png" style="width: 120px;padding: 10px;" alt="Imagen que se comparte"/>
      </div>
      <div class="col-xs-6">
        <p>Propietario: <b ng-data="$ctrl.page.page.aut"></b></p>
        <p>Fecha creación: <b ng-data="$ctrl.page.page.date"></b></p>
        <p>Fecha actualización: <b ng-data="$ctrl.page.page.date"></b></p>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label class="col-form-label">Título:</label>
    <input type="text" class="form-control" ng-model="$ctrl.page.page.tit">
  </div>
  <div class="form-group">
    <label class="col-form-label">Descripción:</label>
    <textarea class="form-control" ng-model="$ctrl.page.page.desc"></textarea>
  </div>
  <div class="form-group">
    <label class="col-form-label">Palabras clave:</label>
    <input type="text" class="form-control" ng-model="$ctrl.page.page.kw">
  </div>
  <div class="form-group">
    <label class="col-form-label">Permisos públicos:</label>
    <input type="text" class="form-control" ng-model="$ctrl.page.page.pr">
  </div>
</form>

  