<script>
    const PAIS_EDITOR_POOL_DATABASE = {
      attributes: [
            {"src":"fa-bed"}, 
            {"src":"fa-bath"},
            {"src":"fa-car"},
            {"src":"fa-building-o"},
            {"src":"fa-arrows"},
            {"src":"fa-archive"},
            {"src":"fa-paw"},
        ],
    };
</script>
<header>
    <div class="bg-dark collapse" id="navbarHeader" style="">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-md-7 py-4">
            <h4 class="text-white">About</h4>
            <p class="text-muted">Add some information about the album below, the author, or any other background context. Make it a few sentences long so folks can pick up some informative tidbits. Then, link them off to some social networking sites or contact information.</p>
          </div>
          <div class="col-sm-4 offset-md-1 py-4">
            <h4 class="text-white">Contact</h4>
            <ul class="list-unstyled">
              <li><a href="https://getbootstrap.com/docs/4.0/examples/album/#" class="text-white">Follow on Twitter</a></li>
              <li><a href="https://getbootstrap.com/docs/4.0/examples/album/#" class="text-white">Like on Facebook</a></li>
              <li><a href="https://getbootstrap.com/docs/4.0/examples/album/#" class="text-white">Email me</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="navbar navbar-dark bg-dark box-shadow">
      <div class="container d-flex justify-content-between">
        <a href="https://getbootstrap.com/docs/4.0/examples/album/#" class="navbar-brand d-flex align-items-center">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg>
          <strong>Inmueble</strong>
        </a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>
  </header>

  <main role="main">

    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading" dir-ptv-editor-text ng-model="$ctrl.domains.content.general.title" default="Mi inmueble">Mi inmueble</h1>
        <div class="container atributos">
          <div class="row">
            <div class="col-6 atributo" dir-ptv-editor-repeat="value in $ctrl.domains.content.subDomain.attr | orderItem track by $index" predefined='{"ico": "fa-bed", "txt": "1 alcoba"}'>
              <i class="fa icono" ng-class="value.ico.class ? value.ico.class : 'fa-grav'" options="PAIS_EDITOR_POOL_DATABASE.attributes" dir-ptv-editor-select-class ng-model="value.ico" aria-hidden="true"></i><p class="texto" dir-ptv-editor-text ng-model="value.txt" default="1 alcoba">1 alcoba</p>
            </div>
          </div>
        </div>
        <p class="lead text-muted" dir-ptv-editor-text ng-model="$ctrl.domains.content.general.desc" default="Detalle del inmueble">Detalle del inmueble</p>
        <div class="container atributos">
          <div class="row">
            <div class="col-4">
              <a target="_blank" href='{{ "tel:" + $ctrl.domains.content.data.phone.url.replace("\"", "") }}'><i class="contacto fa fa-phone-square" aria-hidden="true"></i></a>
            </div>
            <div class="col-4">
              <a target="_blank" href='{{ "https://api.whatsapp.com/send?phone="+($ctrl.domains.content.data.phone.url.replace("\"", ""))+"&text=Hola,%20estoy%20interesado%20en%20el%20inmueble" }}'><i class="contacto whatsapp fa fa-whatsapp" aria-hidden="true"></i></a>
            </div>
            <div class="col-4">
              <a target="_blank" href='{{ "mailto:" + $ctrl.domains.content.data.mail.url.replace("\"", "") }}'><i class="contacto fa fa-envelope" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="album py-5 bg-light">
      <div class="container">

        <div class="row oferta_fotos">
          <div class="col-md-12 oferta_foto" dir-ptv-editor-repeat="value in $ctrl.domains.content.subDomain.photos | orderItem track by $index" predefined='{"rotateCameraOnScroll":true,"objects":[],"size":{"w":"100%","h":"80vh"},"background":{"url":"/z/img/360/"},"camera":{"fov":80,"near":1,"far":100,"position":[0,0,0]}}'>
            <div class="card mb-20 box-shadow">
              <div data3d-scene model="value" model-pub='{{ value | json }}' fixed='{"size":{"w":"100%","h":"80vh"}, "camera":{"fov":100}}'></div>
              <div class="card-body">
                <p class="card-text" dir-ptv-editor-text ng-model="value.text" default="Espacio">Espacio</p>
                <div class="d-flex justify-content-between align-items-center">
                  <small class="text-muted" dir-ptv-editor-text ng-model="value.detail" default="Nota">Nota</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </main>

  <footer class="text-muted">
    <div class="container">
      <p>
        <a href="#!" class="btn btn-primary my-2" dir-ptv-editor-link ng-model="$ctrl.domains.content.data.phone" default="+57 3183412491">+57 3183412491</a>
        <a href="#!" class="btn btn-secondary my-2" dir-ptv-editor-link ng-model="$ctrl.domains.content.data.mail" default="correo@dominio.com">correo@dominio.com</a>
      </p>
      <p class="float-right">
        <a href="https://getbootstrap.com/docs/4.0/examples/album/#">Back to top</a>
      </p>
      <p>Album example is © Bootstrap, but please download and customize it for yourself!</p>
      <p>New to Bootstrap? <a href="https://getbootstrap.com/docs/4.0/">Visit the homepage</a> or read our <a href="https://getbootstrap.com/docs/4.0/getting-started/">getting started guide</a>.</p>
    </div>
  </footer>