body {
  font-family: "Didact Gothic", sans-serif;
  font-weight: 400;
}

.emojionearea,
.emojionearea.form-control {
  font-size: inherit;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.emojionearea .emojionearea-editor {
  color: inherit;
}
